<% content_for :title, "Culver City Home Cleaning | West Hollywood Maid Service" %>

    <div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px;"><strong><%= image_tag ("Logo.jpg") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px;">FAQ</strong></a></li>

            <li class="navbar-text"><strong style= "font-size: 18px;">(310) 910-2221</strong></li>



    
          </ul>


        </div>

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("bluegirl.jpg"), :style => "width: 100%; height:538px"%>  
      <div class="carousel-caption" style="left:15px; font-style:italic ">
  	      <h1> "YOU'RE 60 SECONDS AWAY FROM AN AWESOME CLEANING"</h1>
  	</div>	
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <h1 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 30px; padding-bottom: 20px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);"><i class="fa fa-check-square"></i> OUR 200% SATISFACTION GUARANTEE<br/>
If you’re not happy, we come back and re-clean and if you still don’t think we did a good enough job to recommend us we issue a full refund! </h1>
</div>



     
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <iframe id='booking-widget-iframe' src='https://bravemaids.launch27.com/?w' style='border:none;width:550px;height:2300px;overflow:scroll' scrolling='no'></iframe>
    </div>
    <div class="col-md-3 col-md-offset-2" style="padding-left: 91px;">
      <h4><%= image_tag ("greencheck.png") %> <strong>Insured Services</strong></h4>
        <p>You're in good company when you choose Brave Maids. Rest assured that we are fully insured.</p></br>
        <h4><%= image_tag ("happyface.png") %> <strong>Friendly Service</strong></h4>
        <p>Fast and friendly customer service folks. Our average response time for emails is now 14 minutes.</p></br>
        <h4><%= image_tag ("house.png") %> <strong>We Provide Supplies</strong></h4>
        <p>We got this! Our team partners bring their own supplies and vacuum and honor special requests.</p></br>
        <h4><%= image_tag ("clock.png") %> <strong>Speedy Confirmation</strong></h4>
        <p>Book and receive a confirmation within 30 minutes during normal booking hours from 8:30am to midnight!</p> </br>
        <h4><%= image_tag ("lock.png") %> <strong>Safe Shopping Guarantee</strong></h4>
        <p>You'll pay nothing if unauthorized charges are made to your credit card as a result of booking with us.</p> </br>
        <span style="font-size: 11px; font-family:Arial, Helvetica, sans-serif; display: inline-block; text-align: center; width: 125px;">        <a title="Brave Maids" href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467" style="background: none; padding:0; border:0;">          <img src="http://cdn-1.thumbtackstatic.com/media/badge_gold.png" style ="display: block; margin-bottom: 6px; border: 0;" />        </a><a href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467" style="border:0;">Brave Maids</a></span></br></br></br>

      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fbravemaids&amp;width=200&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:290px;" allowTransparency="true"></iframe></br></br></br>
      <div id="tt-widget-verifications" style="width: 220px;" class="tt-neutral"><div id="tt-user-info"><a class="tt-profile-pic" href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467"><img src="http://pictures-e1.thumbtackstatic.com/pictures/3239/hij0qqka1mhbx5go_50.jpg" alt="Brave Maids" width="25" height="25" /></a><h4><a href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467">Brave Maids</a></h4><div id="tt-ratings-verifications-div"></div></div><div class="tt-middle" id="tt-license"></div><div class="tt-middle"><div>Trusted and Verified</div><ul id="tt-verifications-list" class="tt-verification"></ul></div><div class="tt-tagline"><a href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467">Questions? Comments? Requests? Get in touch.</a></div><a href="http://www.thumbtack.com/Brave-Maids-Los-Angeles-CA/service/826467" class="tt-btn">Contact Now</a><div class="tt">Brought to you by&nbsp;<a href="http://www.thumbtack.com"><img src="http://cdn-1.thumbtackstatic.com/media/logos/thumbtack/padded-69x18-2.png" alt="thumbtack.com" /></a></div></div><script type="text/javascript" src="http://www.thumbtack.com/ajax/widget_verifications?s=826467"></script>

      
      


    </div>
  </div>
</div>          


  




 

