

<div data-theme="b" data-role="page" id="home">


  <div data-role="header">
     <img style="pull-right" src="themex/images/med_logo.png" alt="Green Cleaning">
     <div data-role="navbar">
    <ul>
      <li><a href="#home" class="ui-btn-active">Home</a></li>
      <li><a href="#contact">Contact us</a></li>
      <li><a href="#book">Book Now</a></li>
    </ul>
  </div><!-- /navbar -->
  </div><!-- /header -->

  <img style="pull-right" src="themex/images/new2.jpg" alt="Green Cleaning">



  <div role="main" class="ui-content">
    
    <p style="font-family: Lato, sans-serif; font-weight: 900; font-family: Lato, sans-serif; font-weight: 300; font-size: 15px;"><em> "We're out to create magic. We're a bunch of fun misfits who apply high tech practices to home cleaning. You Book Your Service, You Select the date, You relax. Victory Dance!"</em></p> 

    <p style="font-family: Lato, sans-serif; font-weight: 900; font-family: Lato, sans-serif; font-weight: 300; font-size: 15px;"><strong>Photo Gallery</strong></p> 
  </div>  

    
    
    
   
  <div data-role="footer" data-position="fixed">
    <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300; font-size: 10px;">Brave Maids LLC 2014</p>
  </div><!-- /footer -->
</div><!-- /page -->





<div data-theme="b" data-role="page" id="book">

  <div data-role="header">
     <img style="pull-right" src="themex/images/med_logo.png" alt="Green Cleaning">
     <div data-role="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#contact">Contact us</a></li>
      <li><a href="#book" class="ui-btn-active">Book Now</a></li>
    </ul>
  </div><!-- /navbar -->
  </div><!-- /header -->

    <img style="pull-right" src="themex/images/new2.jpg" alt="Green Cleaning">



  <div role="main" class="ui-content">
    
    <p style="font-family: Lato, sans-serif; font-weight: 900; font-family: Lato, sans-serif; font-weight: 300; font-size: 15px;">Schedule a high quality clean, 100% Satisfaction Guarantee.</p> 
    <iframe id='booking-widget-iframe' src='https://bravemaids.launch27.com/?w' style='border:none;width:296px;height:2500px;' scrolling='yes'></iframe>
  </div>
   
  <div data-role="footer" data-position="fixed">
    <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300; font-size: 10px;">Brave Maids LLC 2014</p>
  </div><!-- /footer -->
</div><!-- /page -->

<div data-theme="b" data-role="page" id="contact">

  <div data-role="header">
     <img style="pull-right" src="themex/images/med_logo.png" alt="Green Cleaning">
     <div data-role="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#contact" class="ui-btn-active">Contact us</a></li>
      <li><a href="#book">Book Now</a></li>
    </ul>
  </div><!-- /navbar -->
  </div><!-- /header -->

    <img style="pull-right" src="themex/images/new2.jpg" alt="Green Cleaning">



  <div role="main" class="ui-content">
    
    <p style="font-family: Lato, sans-serif; font-weight: 900; font-family: Lato, sans-serif; font-weight: 300; font-size: 15px;">Schedule a High Quality Clean.</br> Satisfaction Guaranteed.</p> 



  <%= form_for(@lead) do |f| %>
    <% if @lead.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
        <ul>
          <% @lead.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email"  %>
  </div>
    <%= f.submit "Get Quote", :style => "btn-success"%>
  <% end %>

    
    
  </div>
   
  <div data-role="footer" data-position="fixed">
    <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300; font-size: 10px;">Brave Maids LLC 2014</p>
  </div><!-- /footer -->
</div><!-- /page -->

















