<% content_for :title, "Cleaning Service San Jose House Cleaning Maid Service Los Altos Hills" %>


    <div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px;"><strong><%= image_tag ("newlogo5.png") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px;">FAQ</strong></a></li>

            <li class="navbar-text"><strong style= "font-size: 18px;">(310) 910-2221</strong></li>



    
          </ul>


        </div>

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">

    <div class="item active">
       

      <div style="filter: grayscale(100%) sepia(100%);"> 
        <%= image_tag ("girlcrib2.jpg"), :style => "width: 100%; height: 700px;border-bottom:1px solid black;"%>
      </div>  



          <div class="carousel-caption" style="width: 100%; left: 0px; right: 0px; height: 100%; padding-top: 0px; padding-bottom: 60px; ">

            
              <h1 style=" margin-top: 57px; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 45px; padding-bottom: 20px; text-shadow: 0 5px 7px rgba(0, 0, 0, 1); text-align: center;"> Safe & Professional Los Angeles Home Cleaning.</h1>
                    
                    <div class="col-md-3 offset-col-md-4">

                        







                    </div>
                 <div class="col-md-6 col-md-offset-2 margin-bottom: 10; 0px;">
                 <h1 style="font-family: 'Lato', sans-serif; font-weight: 400; font-size: 40px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><em>Trustworthy and Reliable Service</em></h1>     
                  <h3 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> 200% Money Back Guarantee.</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> Organic cleaning products</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, 1);"><i class="fa fa-check-square-o"></i>Two Person Team </h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> No hidden fees</h3>

                  <form method="get" action="confirmation">
                   <button class= "btn3d btn btn-success btn-lg" style="margin-top: 15px; margin-right:0px;" type="submit">Book Online Now</button>
                  </form>
                
      </div>   
</div>         




         
      <div class="container">

              <% flash.each do |name, msg| %>
                <% if msg.is_a?(String) %>
                  <div class="alert alert-<%= name == :notice ? "success" : "error" %>", style="width: 64%">
                    <a class="close" data-dismiss="alert">&#215;</a>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </div>
                <% end %>
              <% end %>



<!--


    <%= form_for @lead, html: {class: "form-horizontal", role: "form", style: "margin-left: 50px; padding-top: 50px"}  do |f| %>

      
      <% if @lead.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
        </div>
        <ul>
          <% @lead.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>  
-->    


         
<!--
          <div class="form-group">

            <%= f.label :email, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :email, :class => "form-control", :style => "width: 60%" %>
            </div>  
          </div>

          <div class="form-group">
          <%= f.label :name, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :name, :class => "form-control", :style => "width: 60%", :id => "inputPassword3" %>
            </div>
          </div>

          <div class="form-group">
              <%= f.label :phone, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :phone, :class => "form-control", :style => "width: 60%" %>
            </div>
          </div>  

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <%= f.submit "Get instant quote", :class => "btn btn-danger" %>
            </div>  
          </div>
  -->        
        <% end %>
      </div>  
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="text-center" style="padding-bottom: 15px; text-align:center; "> 
    <h1 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px;"> <em>"Your time is valuable. Let us worry about the mess."</em></h1>
  </div> 

  <!-- Three columns of text below the carousel -->
  <div class="row">

    
    <div class="col-md-4 text-center">
      <%= image_tag ("green7.gif"), :class => "img-circle" %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;"> Eco-friendly Green Cleaning.</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">Our cleaning teams use only non-toxic organic cleaning products, which are certified by the EPA as being the safest to humans and animals.</p>
    </div>
    

    <div class="col-md-4 text-center">
      <%= image_tag ("200r1.png") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">200% Money Back Guarantee.</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">If not satisfied we will take the time to re-clean within 24hrs. If for any reason you are still not satisfied with the service, we will refund you no questions asked!</p>
    </div>    



    <div class="col-md-4 text-center">
      <%= image_tag ("lock.jpg") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px; margin-bottom: -10px;">Trustworthy & Secure.</h2>
      <p style="text-align:left; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 19px; text-align: center;margin-top: 15px;"> Book and pay securely online. Secure socket layer encryption keeps your personal details secure. You'll pay nothing if unauthorized charges are made to your credit card as a result of booking with us </p>
    </div>


    
  </div><!-- /.row -->



















  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">

        <%= image_tag ("dog8.jpg"), :class => "featurette-image pull-right"%>

      
    <h2 class="featurette-heading">Protect your family. <span class="text-muted" style="font-size:40px"> Healthy families are happy families.</span></h2>
    <p class="lead">You wouldn't believe some of the stuff that's in cleaning products. Even cleaning products that are labeled as being green are bogus. Take a look at the cleaning products  <a href="http://www.ewg.org/cleaners/hallofshame/">"Hall of Shame."</a></p>
  </div>

  <hr class="featurette-divider">

<div class="featurette">
    <%= image_tag ("clipboard.png"), :class => "featurette-image  pull-left"%>
    <h2 class="featurette-heading">50 Point Clean Checklist. <span class="text-muted" style="font-size:40px">Not finished until you sign off.</span></h2>
    <p class="lead"> Through time, we developed a 50 point cleaning checklist. The team leader double checks to make sure all cleaning tasks have been completed before handing the list to the client for the final review.</p>
  </div>

  <hr class="featurette-divider">

   <div class="featurette">
    <%= image_tag ("phone.png"), :class => "featurette-image  pull-right"%>

    <h2 class="featurette-heading"> Supreme Customer Service. <span class="text-muted" style="font-size:40px">No surprises, No Funny Business.</span></h2>
    <p class="lead">We take our client's satisfaction very seriously. If the client wouldn't recommend us to their friends we didn't do our job. Schedule a professional cleaning  today (310) 910-2221.</p>
    <form method="get" action="confirmation">
                 <button class= "btn3d btn btn-success btn-lg" style="margin-top: 9px; margin-right:0px;" type="submit">Book Online Now</button>
               </form>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->



  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Brave Maids LLC</p>
  </footer>

</div><!-- /.container -->