<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 18px;">Conscious Maids</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;">
            <li><%= link_to "Services & Prices",prices_path %></li>
            <li><a href="#contact">Where we serve</a></li>
            <li class="navbar-text" style="font-style: bold;">Call Now (310)697-2843</li>

               <li><form method="get" action="confirmation">
                 <button class= "btn3d btn btn-danger btn-sm" style="margin-top: 9px; margin-right:0px;" type="submit">Book in 60 secs.</button>
               </form></li>




    
          </ul>


        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">

    <div class="item active">

        <%= image_tag ("white8.jpg"), :style => "width: 100%"%>



          <div class="carousel-caption" style="width: 100%; left: 0px; right: 0px; height: 87%; padding-top: 0px; padding-bottom: 40px;">

            
              <h3 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 50px; padding-bottom: 20px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
              ">"Flawless Green Home Cleaning."</h3>
                    
                    <div class="col-md-3 offset-col-md-4">
                          <iframe  style="margin-top: 20px; margin-left: 60px; border-style:solid;
                            border-width:7px;" width="420" height="355" src="//www.youtube.com/embed/k3Mw8hZeurA?modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen style="border-style: bold;"></iframe>
                    </div>
                 <div class="col-md-6 col-md-offset-2 margin-bottom: 10; 0px;">
                 <h1 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 45px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);">Safe and Reliable service.</h1>     
                  <h3 style="text-align:left; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);"><i class="fa fa-check-square-o"></i> 200% Guarantee. Money back if not satisfied.</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 900; text-align:center; font-size: 30px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);"><i class="fa fa-check-square-o"></i> English-speaking two-person team.</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 900; text-align:center; font-size: 30px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);"><i class="fa fa-check-square-o"></i> Non-toxic supplies.</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 900; text-align:center; font-size: 30px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);"><i class="fa fa-check-square-o"></i> Flat Rate Pricing.</h3>

                  <form method="get" action="confirmation">
                   <button class= "btn3d btn btn-danger btn-lg" style="margin-top: 4px; margin-right:0px;" type="submit">BOOK IN 60 SECS.</button>
                  </form>
                
      </div>   
</div>         




         
      <div class="container">

              <% flash.each do |name, msg| %>
                <% if msg.is_a?(String) %>
                  <div class="alert alert-<%= name == :notice ? "success" : "error" %>", style="width: 64%">
                    <a class="close" data-dismiss="alert">&#215;</a>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </div>
                <% end %>
              <% end %>



<!--


    <%= form_for @lead, html: {class: "form-horizontal", role: "form", style: "margin-left: 50px; padding-top: 50px"}  do |f| %>

      
      <% if @lead.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
        </div>
        <ul>
          <% @lead.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>  
-->    


         
<!--
          <div class="form-group">

            <%= f.label :email, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :email, :class => "form-control", :style => "width: 60%" %>
            </div>  
          </div>

          <div class="form-group">
          <%= f.label :name, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :name, :class => "form-control", :style => "width: 60%", :id => "inputPassword3" %>
            </div>
          </div>

          <div class="form-group">
              <%= f.label :phone, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :phone, :class => "form-control", :style => "width: 60%" %>
            </div>
          </div>  

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <%= f.submit "Get instant quote", :class => "btn btn-danger" %>
            </div>  
          </div>
  -->        
        <% end %>
      </div>  
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="text-center" style="padding-bottom: 15px; text-align:center; "> 
    <h1 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px;"> Why you should choose Conscious Maids:</h1>
  </div> 

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag ("lock.jpg") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">Trustworthy & Secure</h2>
      <p style="text-align:left; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 19px; text-align: center;"> Sophisticated encryption keeps your personal d
      details safe. </p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag ("200r1.png") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">200% Money Back Guarantee</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">If not satisfied we will take the time to re-clean within 24hrs. If for any reason you are still not satisfied with the service, or wouldn't recommend our services to a friend, we will refund you no questions asked!</p>
    </div>
    <div class="col-md-4 text-center">
      <%= image_tag ("green7.gif"), :class => "img-circle" %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;"> Eco-friendly Green Cleaning</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">Our cleaning teams have been trained to use only non-toxic organic cleaning products which are certified by the EPA as being the safest to humans and animals.</p>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
      <iframe class="featurette-image img-circle pull-right" width="480" height="375" src="//www.youtube.com/embed/k3Mw8hZeurA?modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0" frameborder="1" allowfullscreen style="border-style: bold;" seamless></iframe>
    <h2 class="featurette-heading">Check out this testimonial. <span class="text-muted">You will be just as satisfied.</span></h2>
    <p class="lead">We have many satisfied clients that rely on us to keep their beautiful homes spotless. It is our mission to have offer the best service possible, in order to build long lasting relationships with our clients.</p>
  </div>

  <hr class="featurette-divider">

<div class="featurette">
    <%= image_tag ("clipboard.png"), :class => "featurette-image  pull-left"%>
    <h2 class="featurette-heading">50 Point Clean Checklist. <span class="text-muted">Not fininished until you sign off.</span></h2>
    <p class="lead"> Through time, we developed a 50 point cleaning checklist. The team leader double checks to make sure all cleaning tasks have been completed before handing the list to the client for the final review.</p>
  </div>

  <hr class="featurette-divider">

   <div class="featurette">
    <%= image_tag ("phone.png"), :class => "featurette-image  pull-right"%>

    <h2 class="featurette-heading"> Supreme Customer Service. <span class="text-muted">No surprises, No Funny Business.</span></h2>
    <p class="lead">We take our client's satisfaction very seriously. If the client wouldn't recommend us to their friend's we didn't do our job. Schedule an cleaning  today (310) 697-2843</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

onscious Maids conducts background checks and screens our maids and cleaning service providers.Our professional personnel have years of experience servicing all types of residences, plus the tools, skills and dedication necessary for excellent service.


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Conscious Maids LLC</p>
  </footer>

</div><!-- /.container -->