<style>
.logo
{
    width:100%;
    height: 109px;
    background-color:#fff;
    text-align:center;


}
p{
    padding:8px 0;
    margin:0;
    }
.ui-header
{
    border-bottom:2px solid black;
}



</style>



<header data-role="header">
  <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300; font-size: 20px;">Brave Maids</p>
  <div class="logo">
		<img src="themex/images/header.jpg" alt="Green Cleaning">
	</div>

</header><!-- /header -->

<div data-role="content">
 		<p style="font-family: Lato, sans-serif; font-weight: 900; padding: 0px; font-family: Lato, sans-serif; font-weight: 300; font-size: 20px;"><strong><em>Top Quality Home Cleaning</strong><em><br>100% Satisfaction Guarantee.<br> Expect a call soon to confirm your booking.<br><a href="tel:1+310-910-2221">(310) 910-1412</a></p>





 <%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Phone"  %>
  </div>
    <%= f.submit "Get Quote", :style => "btn"%>
<% end %>
</div>

<div data-role="footer" style="height:40px;">
</div><!-- /footer -->
i











