
<header data-role="header">
   <img style="pull-right" src="themex/images/med_logo.png" alt="Green Cleaning">
   <img style="pull-right" src="themex/images/lv4.jpg" alt="Green Cleaning">


</header><!-- /header -->




<div role="main" class="ui-content">
 	<p style="font-family: Lato, sans-serif; font-weight: 900; padding: 0px; font-family: Lato, sans-serif; font-weight: 300; font-size: 15px;">Schedule a high quality clean, 100% Satisfaction Guarantee.</p> 
  <h3> Tell us about your place: </h3>




 <%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :placeholder => "Phone"  %>
  </div>
    <%= f.submit "Get Quote", :style => "btn-success"%>
<% end %>
</div>

<div data-role="footer" style="height:40px;">
  <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300; font-size: 10px;">Brave Maids LLC 2014</p>
</div><!-- /footer -->











