<% content_for :title, "Premium Home Cleaning | Los Angeles Maid Service" %>


    <div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">

        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px; img-responsive"><strong><%= image_tag ("Logo.jpg") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px; margin-right: 1em;">FAQ</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="https://bravemaids.launch27.com/login"><strong style= "font-size: 18px; margin-right: 1em;">Login</strong></a></li>
            <li><form method="get" action="confirmation">
                   <button class="btn3d btn btn-success btn-sm" style="margin-top: 15px; margin-right:0px;" type="submit">Book Now</button>
                  </form></li>
                </ul>
        </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">


    <div class="item active">
       

      <div style="filter: grayscale(100%) sepia(100%);"> 
        <%= image_tag ("purple.jpg"), :style => "width: 100%; height: 700px;border-bottom:1px solid black;"%>
      </div>  



          <div class="carousel-caption" style="width: 100%; left: 0px; right: 0px; height: 100%; padding-top: 0px; padding-bottom: 60px; ">

            
              <h1 style=" margin-top: 57px; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 45px; padding-bottom: 20px; text-shadow: 0 5px 7px rgba(0, 0, 0, 1); text-align: center; color: inherit;"> Safe & Professional Los Angeles Home Cleaning.</h1>
                    
                    <div class="col-md-3 offset-col-md-4">

                        
            <iframe width="460" height="315" style="margin-left: 54px; margin-top: 20px; border-width: 7px; border-style: solid;"src="http://www.youtube.com/embed/yHocd4CNz_g?rel=0&showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen></iframe>







                    </div>
                 <div class="col-md-6 col-md-offset-2 margin-bottom: 10; 0px;">
                 <h1 style="font-family: 'Lato', sans-serif; font-weight: 400; font-size: 40px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><em>Trustworthy and Reliable Service</em></h1>     
                  <h3 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> 200% Money Back Guarantee.</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> Organic cleaning products</h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, 1);"><i class="fa fa-check-square-o"></i>Two Person Team </h3>
                  <h3 style="font-family: 'Lato', sans-serif; font-weight: 400; text-align:center; font-size: 30px; text-shadow: 0 5px 7px rgba(0, 0, 0, .9);"><i class="fa fa-check-square-o"></i> No hidden fees</h3>

                  <form method="get" action="confirmation">
                   <button class="btn btn-success btn-lg btn3d" style="margin-top: 15px; margin-right:0px;" type="submit">Book Now</button>
                  </form>
                
      </div>   
</div>         

    <div class="container social-links" style="background-color: #ececec; height:60px; width: 100%;">
      <h5 style="display:-webkit-inline-box; font-family: 'Lato', sans-serif; font-weight: 400; font-size: 27px; margin-left: 214px; color: dimgrey;">Find us on:</h5>
      <a href="http://www.twitter.com/bravemaids"><%= image_tag ("twitter.png"), :style => "padding-left: 31px;"%></a>
      <a href="http://www.angieslist.com/companylist/us/ca/los-angeles/brave-maids-reviews-8147634.htm"><%= image_tag ("angiessmall.png"), :style => "margin-left: 40px;"%></a>
      <a href="http://www.facebook.com/bravemaids"><%= image_tag ("facebook.png"), :style => "margin-left: 31px;"%></a>
      <a href="https://plus.google.com/u/0/108926195802772316715/posts"><%= image_tag ("gooogle.png"), :style => "margin-left: 31px;"%></a>



    </div>


         
      <div class="container">

              <% flash.each do |name, msg| %>
                <% if msg.is_a?(String) %>
                  <div class="alert alert-<%= name == :notice ? "success" : "error" %>", style="width: 64%">
                    <a class="close" data-dismiss="alert">&#215;</a>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </div>
                <% end %>
              <% end %>



<!--


    <%= form_for @lead, html: {class: "form-horizontal", role: "form", style: "margin-left: 50px; padding-top: 50px"}  do |f| %>

      
      <% if @lead.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>
        </div>
        <ul>
          <% @lead.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>  
-->    


         
<!--
          <div class="form-group">

            <%= f.label :email, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :email, :class => "form-control", :style => "width: 60%" %>
            </div>  
          </div>

          <div class="form-group">
          <%= f.label :name, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :name, :class => "form-control", :style => "width: 60%", :id => "inputPassword3" %>
            </div>
          </div>

          <div class="form-group">
              <%= f.label :phone, :class => "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.text_field :phone, :class => "form-control", :style => "width: 60%" %>
            </div>
          </div>  

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
              <%= f.submit "Get instant quote", :class => "btn btn-danger" %>
            </div>  
          </div>
  -->        
        <% end %>
      </div>  
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing" style="width: 100%;">

  <div class="text-center" style="padding-bottom: 15px; text-align:center; "> 
    <h1 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px; color: #00adee;"> <em>"Why Choose Brave Maids?"</em></h1>
  </div> 

  <!-- Three columns of text below the carousel -->
  <div class="row" style="margin-bottom: 50px;">

    
    <div class="col-md-4 text-center">
      <%= image_tag ("green7.gif"), :class => "img-circle" %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;"> Eco-friendly Green Cleaning.</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">Our cleaning teams use only non-toxic organic cleaning products, which are certified by the EPA as being the safest to humans and animals.</p>

    </div>
    

    <div class="col-md-4 text-center">
      <%= image_tag ("200r1.png") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">200% Satisfaction  Guarantee.</h2>
      <p style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 300; font-size: 19px;">If not satisfied we will take the time to re-clean within 24hrs. If for any reason you are still not satisfied with the service, we will refund you no questions asked!</p>
    </div>    



    <div class="col-md-4 text-center">
      <%= image_tag ("lock.jpg") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px; margin-bottom: -10px;">Trustworthy & Secure.</h2>
      <p style="text-align:left; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 19px; text-align: center;margin-top: 15px;"> Book and pay securely online. Secure socket layer encryption keeps your personal details secure. You'll pay nothing if unauthorized charges are made to your credit card as a result of booking with us </p>
    </div>


    
  </div><!-- /.row -->


  
<div class="row marketing" style="background-color: #3c96d9; height: 648px;">
    <div class="text-center" style="padding-bottom: 50px; text-align:center; "> 

      <h2 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px; color: #C7F3FF;"> <em>What our clients are saying</em></h2>

      <div class="col-md-4 col-sm-4">

        <%= image_tag ("happylady1.jpg"), :class => "img-circle", :style => "margin-top: 46px;"%>
        <div class="comment" style="display: block; margin: 20px auto 50px; width: 250px;">
          <p style="font-size: 18px; color: #C7F3FF; margin: 0 0 10px;display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;">"Extremely pleased with Claudia. I would recommend her to my friends and family! I am looking forward to a continued great working relationship with claudia."</p>
          <p class="author" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;font-weight: normal;font-size: 16px; color: #C7F3FF; margin: 0 0 10px;display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;">Sofia, Culver City</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">

        <%= image_tag ("carla1.jpg"), :class => "img-circle", :style => "margin-left: 115px"%>
        <div class="comment" style="display: block; margin: 20px auto 50px; width: 250px;">
          <p style="font-size: 18px; color: #C7F3FF; margin: 0 0 10px;display: block; text-align: center;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;">"They were amazing! Our apartment was a mess and they stayed even longer than planned, making sure everything was spotless! We were so impressed with their work ethic and how nice they were too. I highly recommend them!"</p>
          <p class="author" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px; font-weight: normal;font-size: 16px; color: #C7F3FF; margin-left: 37px;">Carla, West Hollywood</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">

        <%= image_tag ("thomas2.jpg"), :class => "img-circle", :style => "margin-left: 115px"%>
        <div class="comment" style="display: block; margin: 20px auto 50px; width: 250px;">
          <p style="font-size: 18px; color: #C7F3FF; margin: 0 0 10px;display: block; text-align: center;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;">"Hi. I want to thank you guys so much. My friend let me know about you guys and I am so happy he did. At first I was a bit hesitant to hire a crew of people to come to my house, but the maids were so nice, Thanks guys!!!"</p>
          <p class="author" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px; font-weight: normal;font-size: 16px; color: #C7F3FF; margin-left: 37px;">Thomas, Santa Monica</p>
        </div>
      </div>
    </div>
    </div>
</div> 



  </div> 
  <div class="row">

    
    <div class="col-md-4 text-center">
      
    </div>


    
  </div><!-- /.row -->
  <!-- Three columns of text below the carousel -->
</div>








  <!-- START THE FEATURETTES -->





  <div class="container featurette" style="padding-top: 184px;">

        <%= image_tag ("dog8.jpg"), :class => "featurette-image pull-right"%>

      
    <h2 class="featurette-heading">Protect your family. <span class="text-muted" style="font-size:40px"> Healthy families are happy families.</span></h2>
    <p class="lead">You wouldn't believe some of the stuff that's in cleaning products. Even cleaning products that are labeled as being green are bogus. Take a look at the cleaning products  <a href="http://www.ewg.org/cleaners/hallofshame/">"Hall of Shame."</a></p>
  </div>

  <hr class="featurette-divider">

<div class="container featurette" style="background-color: #f47503; width: 100%; height: 600px;">
    <%= image_tag ("clipboard.png"), :class => "featurette-image  pull-left"%>
    <h2 class="featurette-heading">50 Point Clean Checklist. <span class="text-muted" style="font-size:40px">Not finished until you sign off.</span></h2>
    <p class="lead"> Through time, we developed a 50 point cleaning checklist. The team leader double checks to make sure all cleaning tasks have been completed before handing the list to the client for the final review.</p>
  </div>

  <hr class="featurette-divider">

   <div class="container featurette">
    <%= image_tag ("phone.png"), :class => "featurette-image  pull-right"%>

    <h2 class="featurette-heading"> Supreme Customer Service. <span class="text-muted" style="font-size:40px">No surprises, No Funny Business.</span></h2>
    <p class="lead">We take our client's satisfaction very seriously. If the client wouldn't recommend us to their friends we didn't do our job. Schedule a professional cleaning  today (310) 910-2221.</p>
    <form method="get" action="confirmation">
                 <button class= "btn3d btn btn-success btn-lg" style="margin-top: 9px; margin-right:0px;" type="submit">Book Online Now</button>
               </form>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->



  

</div><!-- /.container -->

</div>







