<style type="text/css">
.table {font-size:12px;color:#fbfbfb;width:100%;border-width: 1px;border-color: #686767;border-collapse: collapse;}
.table th {font-size:16px;background-color:#18bc9c;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
.table td {font-size:16px;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
.table tr:hover {background-color:#171515;}

.list ul  {
  margin-bottom: 7px;
}
</style>



<div id="top" class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" style="color:white;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 15px; color: white;">Conscious Maids</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;color:white;">
            <li><%= link_to "Services & Prices",prices_path, :style => "font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;color:white;" %></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;color:white;" href="/area">Where we serve</a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;color:white;" href="/faqs">FAQ</a></li>

            <li class="navbar-text"><strong>Mon-Sun: 8am - 6pm</strong></li>

            <li class="navbar-text"><strong>Call Now (650)479-5024</strong></li>


               <li><form method="get" action="confirmation">
                 <button class= "btn3d btn btn-danger btn-sm" style="margin-top: 9px; margin-right:0px;" type="submit">Book in 60 secs.</button>
               </form></li>




    
          </ul>


        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("interior1.jpg"), :style => "width: 100%" %>
        <div class="carousel-caption" id="table" style="padding-top: 5px; width: 61%; margin-bottom: 30px;">

        <h3>Rates:</h3>
          <table id="prices" class="table table-bordered" border="1">
            <tr><th>Size of Home</th><th>Flat Rate</th><th>Estimated Cleaning Time.</th></tr>
            <tr><td>Studio</td><td>$119</td><td>1 Hour and 30 Minutes</td></tr>
            <tr><td>One Bedroom</td><td>$129</td><td>2 Hours</td></tr>
            <tr><td>Two Bedrooms</td><td>$139</td><td>2 Hours and 30 Minutes</td></tr>
            <tr><td>Three Bedrooms</td><td>$159</td><td>3 Hours and 15 Minutes</td></tr>
            <tr><td>Four Bedrooms</td><td>$189</td><td>4 Hours</td></tr>
            <tr><td>Hourly Service</td><td>$35 / Hour Per Maid</td><td>Minimum of two maids and two hours.</td></tr>
          </table>

        <h3>Extra Services:</h3>

          <table class="table table-bordered" border="1">
            <tr><th>Move In/Move Out</th><th>Clean Interior Windows</th><th>Clean Inside Fridge</th><th>Clean Inside Oven</th><th>One load of Laundry</th></tr>
            <tr><td>$50</td><td>$40</td><td>$20</td><td>$20</td><td>$20</td></tr>
          </table>        
           <form method="get" action="confirmation" class="pull-right" style="padding-botton: 5px; margin-bottom: 9px; bottom: 20px;">
                 <button class= "btn3d btn btn-danger btn-lg" style="margin-top: 3px; "type="submit">Book in 60 secs.</button>
               </form>

<h2 style="color: white;"><small>*Prices may fluctuate according to home size. Times are an estimate. Every additional bathroom is $30. No surprises.</small></h2>
          
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="text-center" style="padding-bottom: 15px; text-align:center; "> 
    <h6 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px;"> What's included in every cleaning?</h6>
  </div> 

  <!-- Three columns of text below the carousel -->
  <div class="row" style="padding-bottom: 200px;">

    
    

    <div class="col-md-4 text-center">
      <%= image_tag ("maids1.jpg") %>
      <h2 style="text-align:left; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;"> Kitchen/Eating Areas</h2>
      <ul class="fa-ul list" style="font-size: 20px; text-align: left">

        <li><i class="fa-li fa fa-check-circle"></i> Cobweb Removal</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Ceiling Fans</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Blinds and Window Ledges</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Microwave</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Stove Top & Stove Fan</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Microwave</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Countertops</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Large Electronic Appliances</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Scrub and Clean Sinks</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Polish all Stainless steel surfaces</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Dust and Wipe Laundry Area</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Vacuum Kitchen & Laundry Floors</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Enterance Glass Door</li><br>

      </ul>
    </div>    


    <div class="col-md-4 text-center">
      <%= image_tag ("soap.gif") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">Bathroom Cleaning</h2>
      <ul class="fa-ul list" style="font-size: 20px; text-align: left">

        <li><i class="fa-li fa fa-check-circle"></i> Cobweb Removal</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Ceiling Fans</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Blinds and Window Ledges</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Wipe Bathroom Cabinets</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Scrub & Clean Sinks</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Countertops</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Scrub and clean toilets</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Scrub & Clean Tubs</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Empty Trash Cans</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Vacuum Bathroom Floors & Rugs</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Mop Bathroom Floors</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Dust/Wipe Doors</li><br>
      </ul>
        <form method="get" action="confirmation">
           <button class= "btn3d btn btn-danger btn-lg" style="margin-top: 180px; margin-right:0px;" type="submit">Book Now.</button>
         </form>
    </div> 





    <div class="col-md-4 text-center">
      <%= image_tag ("greenhouse5.jpg") %>
      <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 900; font-size: 28px;">Living Room & Bedroom Cleaning</h2>
      <ul class="fa-ul list" style="font-size: 20px; text-align: left">

        <li><i class="fa-li fa fa-check-circle"></i> Cobweb Removal</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Ceiling Fans Detail Cleaning</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Dust Blinds and Window Ledges/Base</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Make Beds & Change Bed Linens (when left on top of bed)</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Empty trash in all bedrooms, living, and office spaces</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Vacuum all carpet, small rugs and stairs</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Baseboard Detail Cleaning</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Vacuum Closet Shelves & Drawers</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Dust/Wipe Doors</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Clean Windows Inside</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Mop Bathroom Floors</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Dust/Wipe Doors</li><br>
        <li><i class="fa-li fa fa-check-circle"></i> Bookshelves</li><br>


      </ul>
    </div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->
<!--
  <hr class="featurette-divider">

  <div class="featurette">
      <iframe class="featurette-image img-circle pull-right" width="480" height="375" src="//www.youtube.com/embed/k3Mw8hZeurA?modestbranding=1&amp;controls=0&amp;showinfo=0&amp;rel=0" frameborder="1" allowfullscreen style="border-style: bold;" seamless></iframe>
    <h2 class="featurette-heading"> Cleanings Include: <span class="text-muted">You will be just as satisfied.</span></h2>
    <p class="lead">We have many satisfied clients that rely on us to keep their beautiful homes spotless. It is our mission to have offer the best service possible, in order to build long lasting relationships with our clients.</p>
  </div>

  <hr class="featurette-divider">

<div class="featurette">
    <%= image_tag ("clipboard.png"), :class => "featurette-image  pull-left"%>
    <h2 class="featurette-heading">50 Point Clean Checklist. <span class="text-muted">Not fininished until you sign off.</span></h2>
    <p class="lead"> Through time, we developed a 50 point cleaning checklist. The team leader double checks to make sure all cleaning tasks have been completed before handing the list to the client for the final review.</p>
  </div>

  <hr class="featurette-divider">

   <div class="featurette">
    <%= image_tag ("phone.png"), :class => "featurette-image  pull-right"%>

    <h2 class="featurette-heading"> Supreme Customer Service. <span class="text-muted">No surprises, No Funny Business.</span></h2>
    <p class="lead">We take our client's satisfaction very seriously. If the client wouldn't recommend us to their friend's we didn't do our job. Schedule an cleaning  today (650) 479-5024</p>
  </div>

  <hr class="featurette-divider">

-->

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer style="height: 20px;">
    <p>Conscious Maids LLC</p>
  </footer>

</div><!-- /.container -->