
  <!DOCTYPE html>
  <html>
  <head>

    <title>
    
    <%=h yield(:title) %>
  
    </title>   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="ToDjSxz1r76S5bqCMnM7twqrMNhYvpg66748aSHAIJ4" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900,400' rel='stylesheet' type='text/css'>  
    <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  

  </head>
  <body>



  <%= yield %>




<div id="footertwo">
      <div class="container text-left" style="display: block;">
                
       
        <p>
          <a href="https://twitter.com/bravemaids" class="twitter-follow-button" data-width="300px" style="padding-top: 6px;">Follow @bravemaids</a>
        </p>
      </div>
    </div>
    <div id="footer">
      <div class="container text-center">

        <p>
        <%= image_tag ("angies2.png")%><%= image_tag ("footerlogo.jpg"), :style => "padding-top: 10px; padding-right: 10px;"%><%= image_tag ("norton.png"), :style => "padding-top: 10px;"%></p>
      </div>
    </div>
  

  </body>
  </html>
